body {
	background: white;
    font-family: "Open Sans Condensed", "opensans_light", "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 400;
    color: #555555;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

#rfTabCore {
    /*padding: 1em;*/
}

.rfDashboardHeader {
	background: #2c3e50;
    height: auto;
    width: 100%;
    padding: 1em;
}

.rfDashboardCore {
	font-family: "Open Sans Condensed", "opensans_light", "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 400;
    color: #555555;
}

.rfDashboardCore.rfStandalone {
	padding: 0 0 1em 0;
	margin-top: 1em;
}

.dbTitle {
	display: inline-block;
    background: url("../img/horizontal-logo.png") no-repeat bottom left;
    height: 40px;
    width: 160px;
    padding: 0;
}

.rfHeaderContainer {
	max-width: 100%;
}

.rfWrapper {
	border-radius: 1em;
    border-color: #7ea2aa;
}

.rfCaption {
	background: #2c3e50;
    border-radius: 1em 1em 0 0;
}

.rfCaptionText {
    color: #fff;
    font-weight: 400 !important;
}

.rfPlayerBalance {
    background: #b6dbac;
    color: #2c3e50;
    border-bottom: 1px solid #7ea2aa;
    font-size: 2.7em;
    font-weight: 800;
    text-align: center;
}

.rfMaximizeIcon {
    display: none;
}

.rfPlayerStats {
    padding: .5em 1em;
    border-bottom: 1px solid #7ea2aa;
}

.rfPlayerStatCircle {
    width: 32%;
    display: inline-block;
    text-align: center;
    font-size: .7em;
}

.rfPlayerStatCircle span {
    display: inline-block;
    font-size: 3em;
    line-height: 1.6em;
    border-radius: 10em;
    background: #afdfdb;
    width: 55px;
    height: 55px;
    text-align: center;
}

.rfPlayerStatCircle span.skill {
    background: #fdd687;
}

.rfPlayerStatCircle span.luck {
    background: #f79f79;
}

.rfPlayerSummary {
    border-bottom: 1px solid #7ea2aa;
    font-size: 1.3em;
    padding: .4em .6em;
}

.rfPlayerFooter, .rfHTMLContainer date {
    color: #f35f55;
    font-size: .7em;
    padding-top: .8em; 
    margin-top: 0;
    text-align: center;
}

.rfHTMLContainer {
    padding: 1em;
    text-align: center;
}

.rfHTMLContainer h2 {
    font-size: 1.8em;
    font-weight: 800;
    color: #2c3e50;
}

.rfHTMLContainer p {
    font-size: 3em;
    font-weight: 800;
    color: #82bfd8;
    margin-top: .1em;
}

.rfHTMLContainer i.fa {
    border-radius: 4em;
    color: #fff;
    padding: .2em;
    display: inline-block;
}

.rfPlayerName {
    padding: .5em;
    font-weight: 800;
    font-size: 1.1em;
    line-height: 1em;
    background: #7ea2aa;
    color: #fff; 
}

.fa.fa-lowcolor {
    background: #f79f79;
}

.fa.fa-highcolor {
    background: #8be8cb;
}

footer {
	background: #2c3e50;
    min-height: 6em;
    clear: both;
    position: relative;
    height: 100px;
}

footer p {
	color: #fff;
	margin: 0 auto;
	line-height: 6.4em;
	text-align: center;
}