
/* Test For autoprefixer browser support */

::placeholder {
  color: #ccc
}

//colors
$color_mine_shaft_approx: #333;
$white: #fff;
$black: #000;
$color_bright_red_approx: #b20000;
$red: #f00;
$color_lightning_yellow_approx: #ffc926;

//fonts
$font_0: Helvetica;
$font_1: Arial;
$font_2: Verdana;
$font_3: sans-serif;

//urls
// $url_0: url(http://i.imgur.com/iZrhFim.png);
// $url_1: url(http://i.imgur.com/Z2KLUOw.png);

@import "_game";