
//@extend-elements
//original selectors
//div#phand, div#dhand
%extend_1 {
  font-weight: 700;
  // position: absolute;
  // top: -122px;
  // white-space: nowrap;
  // width: 1000px;
}

//original selectors
//#money, #money:before
%extend_2 {
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 5px;
  bottom: 0;
  height: 100px;
  padding: 0;
  position: absolute;
  right: 0;
  width: 250px;
}

//original selectors
//#cash, #bank
%extend_3 {
  color: $white;
  font: 700 18px/20px $font_0, $font_1, $font_2, $font_3;
  margin: 12px 0;
  padding: 1em 0.5em;
  position: relative;
  //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  text-shadow: 1px 1px $black;
  z-index: 1;
}


#wrapper {
  margin: 0 auto;
  width: 1000px;
}
h3 {
  margin: 4px 0;
  text-align: center;
}
#phone{
  background-position: -20px 0px;
}

// #game {
//   color: $color_mine_shaft_approx;
//   font: 14px/17px $font_0, $font_1, $font_2, $font_3;
//   height: 360px;
//   width: 360px;
//   margin: 0 auto;
//   position: relative;
//   z-index: 2;
// }
.cheatmode{
  display: none;
}
#game_logo{
  @include background-image-retina(blackjackjs-game-logo, jpg, 240px, 61px);
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 61px;
  min-width: 240px;
  h3,p{
    text-indent: -9999px;
    color: transparent;
  }
}
#blackjackjs_logo{
  @include background-image-retina(icon, png, 31px, 20px);
  background-repeat: no-repeat;
  width: 31px;
  height: 20px;
  a{
    color: transparent !important;
  }
}
#phone{
  @include background-image-retina(iPhone6White, png, 1028px, 590px);
  border-radius: 5px;
  color: $color_mine_shaft_approx;
  font: 14px/17px $font_0, $font_1, $font_2, $font_3;
  height: 550px;
  margin: 0 auto;
  position: relative;
  width: 1000px;
  font-family: Times;
  header,
  footer{
    width: 100%;
    background-color: #2c3e50;
    color: #fff;
    a{
      color: #fff;
    }
    ul{
      @include horizontal-list;
      margin: 0;
      padding: 0.5em;
      li{
        padding-left: 0;
        padding-right: 0;
        width: auto;
        margin-right: 0.5em;
        &:last-child{
          float: right;
          margin-right: 0;
        }
      }
    }
  }
  ul{
    margin: 0;
    padding: 0;
    @include no-bullets;
    li{
      margin: 0;
      @include no-bullets;
    }
  }
  footer{
    position: absolute;
    bottom: 0;
    ul{
      li{
        width: auto;
        margin-left: 0;
        &:nth-child(1){
          width: 42%;
          margin-left: 0;
        }
        &:hover{
          cursor: pointer;
        }
        // &:nth-child(2)
        // {
        //   width: 9%;
        // }
        // &:nth-child(4)
        // {
        //   width: 16%;
        // }
      }
    }

  }
}
.spacer{
  width: 10px;
  display: block;
}
#bet_holder{
  width: 100%;
  margin: 10px 0;
  label{
    width: 30%;
    line-height: 2.2em;
    float: left;
    color: #fff;
  }
  input{
    width: 50%;
    float: right;
    margin-bottom: 0;
  }
}
#main_game_holder{
  @include background-image-retina(felt, jpg, 556px, 321px);
  width: 100%;
  max-width: 545px;
  position: relative;
  z-index: 0;
  top: 123px;
  min-height: 317px;
  margin: auto;
}
#card_holder{
  // position: relative;
  // z-index: 1;
  float: left;
  width: 58%;
  padding: 0.5em;
}
#table{
  position: relative;
  z-index: 0;
}
#newgame{
  margin-top: 1em;
  position: relative;
  left: 35%;
  width: 100%;
  margin: 0 auto;
  label{
    display: inline-block;
    width: auto;
    input,input[type="radio"], input[type="checkbox"]{
      margin: 0 0.5em 0;
    }
  }
}
#actions{
  text-align: center;
  float: right;
  padding-right: 5px;
  max-width: 28%;
}
button{
      width: 100%;
      margin-bottom: 3px;
      @include sassy-button("matte", 0.5em, 1em, #fdd687, #fcd88f, #444, inset, auto-states);
}
div {
  &#dscore {
    position: absolute;
    bottom: 30px;
  }
  &#pscore {
    position: absolute;
    bottom: 15px;
  }
  &#phand {
    @extend %extend_1;
  }
  &#dhand {
    @extend %extend_1;
  }
}
div[class*="card"] {
  background: $white;
  border: 6px solid $white;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 5px;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 0 1px $black;
  display: inline-block;
  height: 106px;
  margin: 0 5px;
  position: absolute;
  right: 0;
  width: 79px;
}
#phone #main_game_holder #table #game .down {
  background-color: $color_bright_red_approx !important;
  @include background-image-retina(card-back, png, 93px, 121px);
  background-position: center center !important;
  background-repeat: no-repeat !important;
}
span {
  &.pos-0 {
    left: 0;
    position: absolute;
    top: 0;
  }
  &.pos-1 {
    bottom: 0;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    position: absolute;
    right: 0;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: rotate(180deg);
  }
  &.rank {
    font-size: 18px;
  }
  &.suit {
    font-size: 22px;
  }
}
.black {
  color: $black;
}
.red {
  color: $red;
}
#result {
  position: absolute;
  bottom: 0;
}
// #money {
//   @extend %extend_2;
//   // border: 2px solid $color_lightning_yellow_approx;
//   &:before {
//     @extend %extend_2;
//     background: $color_mine_shaft_approx;
//     content: '';
//     opacity: 0.8;
//   }
// }
// #cash {
//   @extend %extend_3;
// }
// #bank {
//   @extend %extend_3;
// }
#alert {
  margin: 4em auto 0;
  opacity: 0.95;
  position: relative;
  text-align: center;
  top: 40%;
  width: 100%;
  z-index: 5;
}
div[id*="pcard"] .popover {
  left: -95px !important;
  display: none !important;
}
div[id*="dcard"] .popover {
  left: -95px !important;
  display: none !important;
}
// input#wager {
//   margin-left: 5px;
//   position: relative;
//   top: 4px;
// }

//colors
$color_fuscous_gray_approx: #555;
$white:  white;
$color_punch_approx: #dd4631;
$color_royal_blue_approx: #317ddd;

.pokerchip {
  margin: .5em;
  font-size: 1.2em;
  display: inline-block;
  //Instead of the line below you could use @include box-sizing($bs)
  box-sizing: border-box;
  width: 5em;
  height: 5em;
  background: $color_fuscous_gray_approx;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 50%;
  position: relative;
  border: .5em dashed $white;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all .5s ease;
  //Instead of the line below you could use @include backface-visibility($visibility)
  backface-visibility: hidden;
  &.left {
    position: relative;
    left: -110px;
  }
  &.red {  
    background: $color_punch_approx;
  }
  &.blue {
    background: $color_royal_blue_approx;
  }
  &.flat {
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 0 0 .2em $white;
    &:hover {
      //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
      transform: rotate(90deg);
    }
  }
  &.iso {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: perspective(3000px) rotateX(55deg) rotateZ(-40deg);
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: -1px 1px 0 $color_fuscous_gray_approx, -2px 2px 0 $color_fuscous_gray_approx, -3px 3px 0 $color_fuscous_gray_approx, -4px 4px 0 $color_fuscous_gray_approx, -5px 5px 0 $color_fuscous_gray_approx, -6px 6px 10px $color_fuscous_gray_approx;
    &:hover {
      //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
      transform: perspective(3000px) rotateX(55deg) rotateZ(-40deg) translateZ(.5em);
    }
  }
}
body{
  background-color:white;
  background-image:
  radial-gradient(#e5f7be 9px, transparent 10px),        
  repeating-radial-gradient(#e5f7be 0, #e5f7be 4px, transparent 5px, transparent 20px, #e5f7be 21px, #e5f7be 25px, transparent 26px, transparent 50px);    
  background-size: 30px 30px, 90px 90px; 
  background-position: 0 0;
}
#game_info,
#phone{
  .modal-header{
      h3{
      font-size: 1.618em;
      line-height: 1.618em;
    }
  }
  .modal-body{
    padding: 0.5em;
  
    p:last-child{
      margin-bottom: 0;
    }
  } 
} 
#info_show{
  display: none;
}
#game_info{
  position: absolute;
  left: 0;
  width: 55%;
  z-index: 999;
  margin: 2em 4em;
  text-align: center;
}

#main_game_holder{
  small{
    color: #707086;
  }
  ul li#blackjackjs_logo{
    width: 32px;
  }
} 

#landscape_warning{
    display: none;
    margin: 1em;
}

#myModal{
    position: absolute;
    width: 55%;
    top: 0;
    left: 0;
    margin: 2em 4em;
}
.modal-backdrop{
  z-index: 0;
}

@media only screen and(min-device-width : 200px) and(max-device-width : 600px) and(orientation : portrait) {
  #landscape_warning {
    display: block;
  }
}