<div class="rfPlayerContainer">
	<div class="rfPlayerName">
		<i class="fa fa-user"></i> <%= Name %>
	</div>
	<div class="rfPlayerBalance">
		$<%= Balance %>
	</div>
	<div class="rfPlayerStats">
		<div class="rfPlayerStatCircle">
			<span class="skill"><%= Skill %></span>
			<p>Total Skill</p>
		</div>
		<div class="rfPlayerStatCircle">
			<span class="luck"><%= Luck %></span>
			<p>Total Luck</p>
		</div>
		<div class="rfPlayerStatCircle hands">
			<span><%= Hands %></span>
			<p>Hands Played</p>
		</div>
		<!--<div class="rfPlayerStatCircle">
			<%= DecisionTime %>
		</div>-->
	</div>
	<div class="rfPlayerSummary">
		<p><strong>Personality:</strong> <%= Personality %></p>
		<p><strong>Level:</strong> <%= Level %></p>
	</div>
	<!--<ul class="rfPlayerBadges">
		<li>&nbsp;</li>
	</ul>-->
	<div class="rfPlayerFooter">
		Last Updated: <%= Updated %>
	</div>
</div>
